* {
  box-sizing: border-box;
}

.logopadel {
  width: 9rem;
  height: 10vh;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #080e01;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}

.subtitulo {
  font-size: 1rem !important;
}
